*{
  padding: 0;
  margin: 0;
}

body{
  height: 300vh;
  background-color: #000205;
}

.header{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 102%;
  background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)) ,url("./images/Orage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: aliceblue;
  background-position: center;
  background-attachment: fixed;
}

.content{
  padding: 40px;
  box-sizing: border-box;
  margin-top: -446px;
  display: flex;
  
  
}

.foret{
  
  margin-left: -3%;
  filter: brightness(15%);
  margin-right: -66px;
}
.foret2{
  filter: brightness(15%);
  margin-right: -66px;
}
.foret3{
  filter: brightness(15%);
  margin-right: -66px;
}
.foret4{
  filter: brightness(15%);
  margin-left: -392px;
}


.lumiere{
  width: 40%;
  background-color: #222; 
  box-shadow: 
      0 0 20px rgba(255, 255, 255, 0.5), 
      0 0 30px rgba(255, 255, 255, 0.5), 
      0 0 40px rgba(255, 255, 255, 0.5), 
      0 0 50px rgba(255, 255, 255, 0.7); 
  border-radius: 250px; 
  margin: 50px auto; 
}

.stars {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

/* deco bulles*/
.light {
  position: absolute;
  width: 10px;
  height: 10px;
  margin-left: 100px;
  border-radius: 250px;
  box-shadow: 
      0 0 20px rgba(255, 255, 255, 0.5), 
      0 0 30px rgba(255, 255, 255, 0.5), 
      0 0 40px rgba(255, 255, 255, 0.5), 
      0 0 50px rgba(255, 255, 255, 0.7); 
  background-color: #222;
}

.light:nth-child(1) {
  top: 10%;
  left: 15%;
}

.light:nth-child(2) {
  top: 30%;
  left: 70%;
}

.light:nth-child(3) {
  top: 50%;
  left: 40%;
  width: 20px;
  height: 20px;
}

.light:nth-child(4) {
  top: 70%;
  left: 35%;
  width: 20px;
  height: 20px;
}

.light:nth-child(5) {
  top: 90%;
  left: 35%;
  width: 30px;
  height: 30px;
}

.light:nth-child(6) {
  top: 115%;
  left: 45%;
  width: 40px;
  height: 40px;
}

.light:nth-child(7) {
  top: 130%;
  left: 35%;
  width: 40px;
  height: 40px;
}

.light:nth-child(8) {
  top: 145%;
  left: 37%;
  width: 70px;
  height: 70px;
  opacity: 0.6;
}

.light:nth-child(9) {
  top: 150%;
  left: 15%;
  width: 20px;
  height: 20px;
}

.light:nth-child(10) {
  top: 160%;
  left: 35%;
  width: 15px;
  height: 15px;
  opacity: 0.5;
}

.light:nth-child(11) {
  top: 165%;
  left: 23%;
  width: 18px;
  height: 18px;
}

.light:nth-child(12) {
  top: 200%;
  left: 5%;
  width: 75px;
  height: 75px;
}

.light:nth-child(13) {
  top: 190%;
  left: 5%;
  width: 15px;
  height: 15px;
}

.light:nth-child(14) {
  top: 185%;
  left: 13%;
  width: 25px;
  height: 25px;
}

.light:nth-child(15) {
  top: 215%;
  left: 11%;
  width: 25px;
  height: 25px;
}

.light:nth-child(16) {
  top: 220%;
  left: 5%;
  width: 16px;
  height: 16px;
  opacity: 0.5;
}

.light:nth-child(17) {
  top: 226%;
  left: 9%;
  width: 16px;
  height: 16px;
  opacity: 0.5;
}

.light:nth-child(18) {
  top: 230%;
  left: 6%;
  width: 16px;
  height: 16px;
  opacity: 0.3;
}
.fond{
  position: absolute;
  top: 140%;
  left: 40%;
  
}

/*menu de gauche*/

.Link{
  width: 30%;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 39%;
  top: 188vh;
}

@media (max-width: 768px) {
  .Link {
   
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 29%;
    justify-content: center;
    align-items: center;
    top: 191vh;
  }
}

*.ModalCertif{
  margin-left: 56px;
  margin-top: 25%;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.5), 0 0 40px rgba(255, 255, 255, 0.5), 0 0 50px rgba(255, 255, 255, 0.7);
  color: aliceblue;
  background-color: black;
  border-radius: 10px;
  width: 230px;
  height: 40px;
  position: absolute;
}

.ModalReal{
  margin-left: 56px;
  margin-top: 35%;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.5), 0 0 40px rgba(255, 255, 255, 0.5), 0 0 50px rgba(255, 255, 255, 0.7);
  color: aliceblue;
  background-color: black;
  border-radius: 10px;
  width: 230px;
  height: 40px;
  position: absolute;
}



/* slider moine*/

.moine {
  border-radius: 271px;
  width: 110px;
  box-shadow: 
      0 0 20px rgba(255, 255, 255, 0.5), 
      0 0 30px rgba(255, 255, 255, 0.5), 
      0 0 40px rgba(255, 255, 255, 0.5), 
      0 0 50px rgba(255, 255, 255, 0.7); 
  overflow: hidden;
  position: absolute;
  
  left: 126vh;
}

.fond .slider {
  position: absolute;
  width: 200px;
  height: 15%;
  top: 22%;
  left: calc(50% - -620px); 
  transform-style: preserve-3d;
  transform: perspective(1000px);
  animation: autoRun 25s linear infinite;
  z-index: 2;
}



.fond .slider .item {
  position: absolute;
  inset: 0 0 0 0;
  --quantity: 5; /*  quantité d'items*/
  transform: 
      rotateY(calc((var(--position) - 1) * (360deg / var(--quantity))))
      translateZ(250px);  /* espace entre les image et le centre */
}
      

.fond .slider .item img {
  width: auto;
  height: 80%;
  object-fit: contain;
}

.fond .content{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: min(1400px, 100vw);
  height: max-content;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}


.github{
  width: 85px;
  height: 85px;
  background-color: aliceblue;
  position: absolute;
  top: 275px;
  right: 280px;
  border-radius: 50px;
  box-shadow: 
      0 0 20px rgba(255, 255, 255, 0.5), 
      0 0 30px rgba(255, 255, 255, 0.5), 
      0 0 40px rgba(255, 255, 255, 0.5), 
      0 0 50px rgba(255, 255, 255, 0.7); 
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: float 3s ease-in-out infinite;
}

.linkedin{
  width: 85px;
  height: 85px;
  background-color: aliceblue;
  position: absolute;
  top: -70px;
  right: 50vh;
  border-radius: 50px;
  box-shadow: 
      0 0 20px rgba(255, 255, 255, 0.5), 
      0 0 30px rgba(255, 255, 255, 0.5), 
      0 0 40px rgba(255, 255, 255, 0.5), 
      0 0 50px rgba(255, 255, 255, 0.7); 
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: float 3s ease-in-out infinite;
}



.git{
  width: 40px;
  border-radius: 20px;
}

.lkdn{
  
    width: 40px;
    border-radius: 20px;
  
}

.join-bouton{
  margin-top: 45%;
  margin-left: 6vh;
  margin-bottom: 30px;
  width: 230px;
  height: 40px;
  box-shadow: 
      0 0 20px rgba(255, 255, 255, 0.5), 
      0 0 30px rgba(255, 255, 255, 0.5), 
      0 0 40px rgba(255, 255, 255, 0.5), 
      0 0 50px rgba(255, 255, 255, 0.7); 
      color: aliceblue;
  background-color: black;
  border-radius: 10px;
  position: absolute;

}

.Modalwho{
  margin-top: 5%;
  margin-left: 10%;
  
  width: 230px;
  height: 40px;
  box-shadow: 
      0 0 20px rgba(255, 255, 255, 0.5), 
      0 0 30px rgba(255, 255, 255, 0.5), 
      0 0 40px rgba(255, 255, 255, 0.5), 
      0 0 50px rgba(255, 255, 255, 0.7); 
      color: aliceblue;
  background-color: black;
  border-radius: 10px;
  position: absolute;

}

.Modalcomp{
  margin-top: 15%;
  margin-left: 10%;
  position: absolute;
  width: 230px;
  height: 40px;
  box-shadow: 
      0 0 20px rgba(255, 255, 255, 0.5), 
      0 0 30px rgba(255, 255, 255, 0.5), 
      0 0 40px rgba(255, 255, 255, 0.5), 
      0 0 50px rgba(255, 255, 255, 0.7); 
      color: aliceblue;
  background-color: black;
  border-radius: 10px;

}






@keyframes autoRun {
  from {                           /* angle de vue*/
    transform: perspective(1000px) rotateX(-10deg) rotateY(0deg);
  }
  to {
    transform: perspective(1000px) rotateX(-10deg) rotateY(360deg);
  }
}

@keyframes float {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-30px); /* modifier hauteur du flottement */
  }
  100% {
      transform: translateY(0);
  }
}



/*  Responsive*/

@media only screen and (max-width: 600px) {

  .foret{
  
    margin-left: -13%;
  filter: brightness(15%);
  
  }


}

@media only screen and (max-width: 600px) {
  .fond .slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    left: -44px;
  }

  .fond .slider .item {
    position: static; 
    transform: none; 
    transition: none; 
    margin: 10px 0; 
  }
}

@media only screen and (max-width: 600px) {
  .linkedin {
    width: 85px;
  height: 85px;
  background-color: aliceblue;
  position: absolute;
  top: 580px;
  left: 10px;
  border-radius: 50px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.5), 0 0 40px rgba(255, 255, 255, 0.5), 0 0 50px rgba(255, 255, 255, 0.7);
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: float 3s ease-in-out infinite;
}
  }

  @media only screen and (max-width: 600px) {
    .github {
      width: 85px;
  height: 85px;
  background-color: aliceblue;
  position: absolute;
  top: 775px;
  right: 4px;
  border-radius: 50px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.5), 0 0 40px rgba(255, 255, 255, 0.5), 0 0 50px rgba(255, 255, 255, 0.7);
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: float 3s ease-in-out infinite;
  }
    }

    @media only screen and (max-width: 600px) {
      .join-bouton {
        margin-top: 115%;
  margin-left: 37%;
  width: 125px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.5), 0 0 40px rgba(255, 255, 255, 0.5), 0 0 50px rgba(255, 255, 255, 0.7);
  color: aliceblue;
  background-color: black;
  border-radius: 10px;
    }
      }
      @media (max-width: 600px) {
        .contact {
          width: 27% !important;
    margin-left: -1% !important;
    position: fixed;
    top: 76%;
        }
      }

  /* Tasse styles */

      .container {
        position: absolute;
  top: 341vh;
  left: 145px;
  padding-bottom: 110px;
      }

      @media (max-width: 768px) {
        .container {
         
          top: 160vh;
        }
      }
      .cup
      {
        position: relative;
        width: 200px;
        height: 174px;
        background: linear-gradient(to right, #f9f9f9, #d9d9d9);
        border-bottom-left-radius: 45%;
        border-bottom-right-radius: 45%;
      }
      
      .top {
        position: absolute;
        top: -30px;
        left: 0;
        width: 100%;
        height: 60px;
        border-radius: 50%;
        background: linear-gradient(to right, #66c13c, #d9d9d9);
      }
      
      .circle{
        position: absolute;
        top: 5px;
        left: 10px;
        width: calc(100% - 20px);
        height: 50px;
        border-radius: 50%;
        box-sizing: border-box;
        background: linear-gradient(to left, #f9f9f9, #d9d9d9);
        overflow: hidden;
      }
      
      .tea{
        position: absolute;
        top: 20px;
        left:0;
        width: 100%;
        height: 100%;
        background: linear-gradient(#5fd15f, #008000);
        border-radius: 50%;
      
      
      }
      
      .vapour {
        position: relative;
        display: flex;
        z-index: 1;
        padding: 0 20px;
      }
      
      .vapour span {
        position: relative;
        bottom:50px;
        display: block;
        margin: 0 2px 50px;
        min-width: 8px;
        height: 120px;
        background: #fff;
        border-radius: 50%;
        animation: animate 5s linear infinite;
        filter: blur(8px);
        animation-delay: calc(var(--i) * -0.5s);
      }
      
      @keyframes animate {
        0%
        {
          transform: translateY(0) scaleX(1);
          opacity: 0
      
        }
        15%
        {
          opacity: 1;
        }
        50%
        {
          transform: translateY(-150px) scaleX(5)
        }
        95%
        {
          opacity: 0;
        }
        100%
        {
          transform: translateY(-30px0) scaleX(10)
        }
      }
      
      .completed {
        
        font-size: 35px;
        margin-top: 80px;
        margin-bottom: 20px;
        opacity: 0;  
        animation: fadeIn 2s forwards; 
      }
      
      @keyframes fadeIn {
        from {
          opacity: 0; 
          font-size: 40px;
        }
        to {
          opacity: 1;
          font-size: 35px;  
        }
      }
